<h2>Welcome to the <%= @group.name %> group! </h2>

<p><%= @group.description %></p>

<h3>Here are the members:</h3>
<ul>
  <%= render @members %>
</ul>

<h3>Group Images:</h3>
<ul>
  <%= render @images %>
</ul>
